@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,500;1,700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", "Poppins", sans-serif;
}

body {
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
}

#navbarNav {
  font-weight: bold;
  font-size: 20px;
}

.LogoNav {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

/* Effect */
.effect {
  font-family: "Playfair Display", monospace;
  white-space: nowrap;
  border-right: 4px solid;

  animation: typing 3.5s steps(40, end), blink 0.75s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*Index*/
.margen {
  padding-top: 15px;
  height: 160px;
  width: 580px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 20px;
}

.Logo {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}

.Logo2 {
  width: 200px;
  height: 100%;
  margin: 0 auto;
}

.carouselT {
  height: 480px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*Photos*/
.Galeria {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  padding: 5px;
}

/* Galeria*/
#Galeria .col-lg-4 {
  margin: 0 !important;
  padding: 15px;
}

#Galeria img {
  width: 100%;
  height: 250px;
}

#Galeria img:hover {
  transform: scale(1.1);
  transition: 0.2s;
  border: 5px solid #2d6a4f;
}

/*Care*/
.cardp {
  margin-left: 15rem;
}

.cardlt {
  margin-left: -15rem;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#Cares img {
  width: 100%;
  height: 250px;
}

/* Cuidados */

.boton-modal,
.boton-modal2,
.boton-modal3,
.boton-modal4,
.boton-modal5,
.boton-modal6,
.boton-modal7,
.boton-modal8,
.boton-modal9,
.boton-modal10,
.boton-modal11,
.boton-modal12,
.boton-modal14,
.boton-modal15,
.boton-modal16,
.boton-modal17,
.boton-modal18,
.boton-modal19,
.boton-modal20 {
  padding: 40px;
  background-color: #fff;
}
.boton-modal label,
.boton-modal2 label,
.boton-modal3 label,
.boton-modal4 label,
.boton-modal5 label,
.boton-modal6 label,
.boton-modal7 label,
.boton-modal8 label,
.boton-modal9 label,
.boton-modal10 label,
.boton-modal11 label,
.boton-modal12 label,
.boton-modal14 label,
.boton-modal15 label,
.boton-modal16 label,
.boton-modal17 label,
.boton-modal18 label,
.boton-modal19 label,
.boton-modal20 label {
  padding: 10px 15px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover,
.boton-modal2 label:hover,
.boton-modal3 label:hover,
.boton-modal4 label:hover,
.boton-modal5 label:hover,
.boton-modal6 label:hover,
.boton-modal7 label:hover,
.boton-modal8 label:hover,
.boton-modal9 label:hover,
.boton-modal10 label:hover,
.boton-modal11 label:hover,
.boton-modal12 label:hover,
.boton-modal14 label:hover,
.boton-modal15 label:hover,
.boton-modal16 label:hover,
.boton-modal17 label:hover,
.boton-modal18 label:hover,
.boton-modal19 label:hover,
.boton-modal20 label:hover {
  background-color: #185e83;
}

#btn-modal,
#btn-modal2,
#btn-modal3,
#btn-modal4,
#btn-modal5,
#btn-modal6,
#btn-modal7,
#btn-modal8,
#btn-modal9,
#btn-modal10,
#btn-modal11,
#btn-modal12,
#btn-modal14,
#btn-modal15,
#btn-modal16,
#btn-modal17,
#btn-modal18,
#btn-modal19,
#btn-modal20 {
  display: none;
}

.container-modal,
.container-modal2,
.container-modal3,
.container-modal4,
.container-modal5,
.container-modal6,
.container-modal7,
.container-modal8,
.container-modal9,
.container-modal10,
.container-modal11,
.container-modal12,
.container-modal14,
.container-modal15,
.container-modal16,
.container-modal17,
.container-modal18,
.container-modal19,
.container-modal20 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal,
#btn-modal2:checked ~ .container-modal2,
#btn-modal3:checked ~ .container-modal3,
#btn-modal4:checked ~ .container-modal4,
#btn-modal5:checked ~ .container-modal5,
#btn-modal6:checked ~ .container-modal6,
#btn-modal7:checked ~ .container-modal7,
#btn-modal8:checked ~ .container-modal8,
#btn-modal9:checked ~ .container-modal9,
#btn-modal10:checked ~ .container-modal10,
#btn-modal11:checked ~ .container-modal11,
#btn-modal12:checked ~ .container-modal12,
#btn-modal14:checked ~ .container-modal14,
#btn-modal15:checked ~ .container-modal15,
#btn-modal16:checked ~ .container-modal16,
#btn-modal17:checked ~ .container-modal17,
#btn-modal18:checked ~ .container-modal18,
#btn-modal19:checked ~ .container-modal19,
#btn-modal20:checked ~ .container-modal20 {
  display: flex;
}
.content-modal,
.content-modal2,
.content-modal3,
.content-modal4,
.content-modal5,
.content-modal6,
.content-modal7,
.content-modal8,
.content-modal9,
.content-modal10,
.content-modal11,
.content-modal12,
.content-modal14,
.content-modal15,
.content-modal16,
.content-modal17,
.content-modal18,
.content-modal19,
.content-modal20 {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2,
.content-modal2 h2,
.content-modal3 h2,
.content-modal4 h2,
.content-modal5 h2,
.content-modal6 h2,
.content-modal7 h2,
.content-modal8 h2,
.content-modal9 h2,
.content-modal10 h2,
.content-modal11 h2,
.content-modal12 h2,
.content-modal14 h2,
.content-modal15 h2,
.content-modal16 h2,
.content-modal17 h2,
.content-modal18 h2,
.content-modal19 h2,
.content-modal20 h2 {
  margin-bottom: 15px;
}
.content-modal p,
.content-modal2 p,
.content-modal3 p,
.content-modal4 p,
.content-modal5 p,
.content-modal6 p,
.content-modal7 p,
.content-modal8 p,
.content-modal9 p,
.content-modal10 p,
.content-modal11 p,
.content-modal12 p,
.content-modal14 p,
.content-modal15 p,
.content-modal16 p,
.content-modal17 p,
.content-modal18 p,
.content-modal19 p,
.content-modal20 p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar,
.content-modal2 .btn-cerrar2,
.content-modal3 .btn-cerrar3,
.content-modal4 .btn-cerrar4,
.content-modal5 .btn-cerrar5,
.content-modal6 .btn-cerrar6,
.content-modal7 .btn-cerrar7,
.content-modal8 .btn-cerrar8,
.content-modal9 .btn-cerrar9,
.content-modal10 .btn-cerrar10,
.content-modal11 .btn-cerrar11,
.content-modal12 .btn-cerrar12,
.content-modal14 .btn-cerrar14,
.content-modal15 .btn-cerrar15,
.content-modal16 .btn-cerrar16,
.content-modal17 .btn-cerrar17,
.content-modal18 .btn-cerrar18,
.content-modal19 .btn-cerrar19,
.content-modal20 .btn-cerrar20 {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label,
.content-modal2 .btn-cerrar2 label,
.content-modal3 .btn-cerrar3 label,
.content-modal4 .btn-cerrar4 label,
.content-modal5 .btn-cerrar5 label,
.content-modal6 .btn-cerrar6 label,
.content-modal7 .btn-cerrar7 label,
.content-modal8 .btn-cerrar8 label,
.content-modal9 .btn-cerrar9 label,
.content-modal10 .btn-cerrar10 label,
.content-modal11 .btn-cerrar11 label,
.content-modal12 .btn-cerrar12 label,
.content-modal14 .btn-cerrar14 label,
.content-modal15 .btn-cerrar15 label,
.content-modal16 .btn-cerrar16 label,
.content-modal17 .btn-cerrar17 label,
.content-modal18 .btn-cerrar18 label,
.content-modal19 .btn-cerrar19 label,
.content-modal20 .btn-cerrar20 label {
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover,
.content-modal2 .btn-cerrar2 label:hover,
.content-modal3 .btn-cerrar3 label:hover,
.content-modal4 .btn-cerrar4 label:hover,
.content-modal5 .btn-cerrar5 label:hover,
.content-modal6 .btn-cerrar6 label:hover,
.content-modal7 .btn-cerrar7 label:hover,
.content-modal8 .btn-cerrar8 label:hover,
.content-modal9 .btn-cerrar9 label:hover,
.content-modal10 .btn-cerrar10 label:hover,
.content-modal11 .btn-cerrar11 label:hover,
.content-modal12 .btn-cerrar12 label:hover,
.content-modal14 .btn-cerrar14 label:hover,
.content-modal15 .btn-cerrar15 label:hover,
.content-modal16 .btn-cerrar16 label:hover,
.content-modal17 .btn-cerrar17 label:hover,
.content-modal18 .btn-cerrar18 label:hover,
.content-modal19 .btn-cerrar19 label:hover,
.content-modal20 .btn-cerrar20 label:hover {
  background-color: #185e83;
}
.cerrar-modal,
.cerrar-modal2,
.cerrar-modal3,
.cerrar-modal4,
.cerrar-modal5,
.cerrar-modal6,
.cerrar-modal7,
.cerrar-modal8,
.cerrar-modal9,
.cerrar-modal10,
.cerrar-modal11,
.cerrar-modal12,
.cerrar-modal14,
.cerrar-modal15,
.cerrar-modal16,
.cerrar-modal17,
.cerrar-modal18,
.cerrar-modal19,
.cerrar-modal20 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 800px) {
  .content-modal {
    width: 90%;
  }
  .content-modal2 {
    width: 90%;
  }
  .content-modal3 {
    width: 90%;
  }
  .content-modal4 {
    width: 90%;
  }
  .content-modal5 {
    width: 90%;
  }
  .content-modal6 {
    width: 90%;
  }
  .content-modal7 {
    width: 90%;
  }
  .content-modal8 {
    width: 90%;
  }
  .content-modal9 {
    width: 90%;
  }
  .content-modal10 {
    width: 90%;
  }
  .content-modal11 {
    width: 90%;
  }
  .content-modal12 {
    width: 90%;
  }
  .content-modal14 {
    width: 90%;
  }
  .content-modal15 {
    width: 90%;
  }
  .content-modal16 {
    width: 90%;
  }
  .content-modal17 {
    width: 90%;
  }
  .content-modal18 {
    width: 90%;
  }
  .content-modal19 {
    width: 90%;
  }
  .content-modal20 {
    width: 90%;
  }
}

/* Textos Cuidados */
.cont {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
}

.cont .contInf {
  position: absolute;
  top: 40px;
  background-color: #fa4c4c;
  width: 320px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: calc(100% - 80px);
}

.cont .contInf h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.cont .contInf ul.info {
  position: relative;
  margin: 20px 0;
}

.cont .contInf ul.info li {
  position: relative;
  list-style-type: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-self: flex-start;
}

.cont .contInf ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

.cont .contInf ul.info li span img {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}

.cont .contInf ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}

.cont .contInf ul.info li:hover span img,
.cont .contInf ul.info li:hover span:nth-child(2) {
  opacity: 1;
}

.cont .contInf ul.socialIcon {
  position: relative;
  display: flex;
}

.cont .contInf ul.socialIcon li {
  list-style-type: none;
  margin-right: 15px;
}

.cont .contInf ul.socialIcon li a img {
  filter: invert(1);
  opacity: 0.5;
}

.cont .contInf ul.socialIcon li a img:hover {
  opacity: 1;
}

.cont .contactForm {
  position: absolute;
  background-color: #fff;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.cont .contactForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}

.cont .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.cont .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}

.cont .contactForm .formBox .inputBox.w50 {
  width: 47%;
}

.cont .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.cont .contactForm .formBox .inputBox input,
.cont .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 10px 5px;
  font-size: 18px;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
}

.cont .contactForm .formBox .inputBox span {
  position: absolute;
  left: 5px;
  padding: 5px 0;
  pointer-events: none;
  font-size: 17px;
  font-weight: 300;
}

.cont .contactForm .formBox .inputBox input:focus ~ span,
.cont .contactForm .formBox .inputBox input:valid ~ span,
.cont .contactForm .formBox .inputBox textarea:focus ~ span,
.cont .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: deeppink;
  font-family: arial;
}

.cont .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px;
}

.cont .contactForm .formBox .inputBox input[type="submit"]:hover {
  background-color: #fa4c4c;
  font-weight: 500;
}
