@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,500;1,700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", "Poppins", sans-serif;
}

body {
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
}

#navbarNav {
  font-weight: bold;
  font-size: 20px;
}

.LogoNav {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

/* Effect */
.effect {
  font-family: "Playfair Display", monospace;
  white-space: nowrap;
  border-right: 4px solid;

  animation: typing 3.5s steps(40, end), blink 0.75s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*Index*/
.margen {
  height: 160px;
  width: 550px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 20px;
}

.Logo {
  width: 100px;
  height: 100%;
  border-radius: 10px;
}

.carouselT {
  height: 480px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*Photos*/
.Galeria {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  padding: 5px;
}

/* Galeria*/
#Galeria .col-lg-4 {
  margin: 0 !important;
  padding: 15px;
}

#Galeria img {
  width: 100%;
  height: 250px;
}

#Galeria img:hover {
  transform: scale(1.1);
  transition: 0.2s;
  border: 5px solid #2d6a4f;
}

/*Care*/
.cardp {
  margin-left: 15rem;
}

.cardlt {
  margin-left: -15rem;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#Cares img {
  width: 100%;
  height: 250px;
}

.boton-modal,
.boton-modal2 {
  padding: 40px;
  background-color: #fff;
}
.boton-modal label,
.boton-modal2 label {
  padding: 10px 15px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover,
.boton-modal2 label:hover {
  background-color: #185e83;
}
/*:::Fin Boton-Modal:::*/

/*:::Ventana Modal:::*/
#btn-modal,
#btn-modal2 {
  display: none;
}

.container-modal,
.container-modal2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal,
#btn-modal2:checked ~ .container-modal2 {
  display: flex;
}
.content-modal,
.content-modal2 {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2,
.content-modal2 h2 {
  margin-bottom: 15px;
}
.content-modal p,
.content-modal2 p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar,
.content-modal2 .btn-cerrar2 {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label,
.content-modal2 .btn-cerrar2 label {
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover,
.content-modal2 .btn-cerrar2 label:hover {
  background-color: #185e83;
}
.cerrar-modal,
.cerrar-modal2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 800px) {
  .content-modal {
    width: 90%;
  }
  .content-modal2 {
    width: 90%;
  }
}
/*:::Fin Ventana Modal:::*/
